@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --main-title: "Ubuntu", sans-serif;
  --main-font: "Roboto", sans-serif;
  --second-font: "Roboto", sans-serif;
}

$main-title: var(--main-title);
$main-font: var(--main-font);
$second-font: var(--second-font);
